#root {
  width: 1280px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

::-webkit-scrollbar {
  width: 0;
}